/**
* 公共样式
*/

body {
  margin: 0;
}

//工具条
.page-container {
  .toolbar {
    float: left;
    padding-top: 10px;
    padding-left: 15px;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #1e374f;
}
::-webkit-scrollbar-track-piece {
  background: #ccc;
}
::-webkit-scrollbar-track {
  background-color: #1e374f;
}

//导航条高度
$headBarHeight: 60px;

//导航栏宽度
$navBarWeight: 200px;
//收缩导航栏宽度
$navBarCollapseWeight: 64px;

//MainContent标签栏高度
$mainContentTabsHeight: 40px;
